#header .navbar-header .navbar-brand {
  font-size: 26px;
  text-decoration: none;
}

#board{
  position:absolute;
  width: 100%;
  min-height: calc(100% - 42px - 72px);
  padding:0 20px;
}

#header.navbar .navbar-btn {
  margin-top: -7px;
}

#header .navbar-btn.btn-success a {
  color: #fff;
  text-decoration:none;
}

#header.navbar li[role="presentation"] {
  border-left: 1px solid #ccc;
  height: 150%;
  padding: 0;
  margin-top: -1.5%;
  margin-left: 5px;
  margin-right: 5px;
}

.panel-heading,
.panel-body {
  padding:5px;
}

.panel-heading {
  line-height:23px;
  min-height:29px;
}

.panel-body iframe {
  width:100%;
  height:100%;
  border:none;
}

h3.jsPanel-title,
h3.jsPanel-title[style] {
  line-height:23px;
  font-variant:initial;
  min-height:23px;
  color:white !important;
}

h3.jsPanel-title:first-letter {
  text-transform:capitalize;
}

.jsPanel-hdr-r {
  top: 5px;
  right: 5px;
}

.jsPanel-hdr-toolbar {
  position:absolute;
  width:100%;
  left:0;
  background:#eee;
  padding:5px;
  z-index:2;
  margin-top:24px;
}

.jsPanel-hdr .jsPanel-btn-reload,
.jsPanel-hdr .jsPanel-btn-edit {
  visibility:hidden;
}

.jsPanel-hdr:hover .jsPanel-btn-reload,
.jsPanel-hdr:hover .jsPanel-btn-edit {
  visibility:visible;
}

.jsPanel-state-minimized .jsPanel-btn-reload,
.jsPanel-state-smallified .jsPanel-btn-reload,
.jsPanel-state-minimized .jsPanel-btn-edit,
.jsPanel-state-smallified .jsPanel-btn-edit {
  visibility:hidden !important;
}

body,main.container-fluid {
  background:#eee;
}

#framanav_donation[style],
#framafooter,
.jsPanel-btn-max,
.jsPanel-btn-max[style] {
  display:none !important;
}

.modal-footer {
  clear: left;
}

#collabOptions input[type=checkbox] { display:none; } /* checkbox replaced by icon font */
#collabOptions  input[type=checkbox] + label {
  line-height:18px;
}
#collabOptions input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f204"; /* .fa-toggle-off */
  letter-spacing: 10px;
  font-size: 1.33333333em;
  vertical-align: bottom;
}

#collabOptions input[type=checkbox]:checked + label:before {
  content: "\f205";  /* .fa-toggle-on */
  letter-spacing: 10px;
  color: #0C5B7A;
}

#collabOptions label.text-muted,
#collabOptions input[type=checkbox] + label.text-muted:before,
#collabOptions input[type=checkbox]:checked + label.text-muted:before {
  color: #bdbdbd;
  cursor: not-allowed;
}

#framaServices .btn {
  border: 1px solid #fff;
  line-height: 30px;
}
#framaServices .btn i {
  color: #fff;
  background: #8E9C48;
  border-radius: 50%;
  width: 36px;
  line-height: 36px;
}

#btnIRC, #btnGrid {
  color: #555;
  padding:0;
}
#btnIRC:hover, #btnGrid:hover {
  color: #333;
}
/*#btnIRC {
  font-size: 12px;
  margin-top: -4px !important;
  vertical-align: top;
}
#btnIRC .fa-hashtag {
  margin-top:1px;
}*/

#grid table {
  margin:0;
}
#grid .dropdown-menu {
  padding:0;
}

#grid table button {
  background: url(grid.png) no-repeat 0 0;
  width: 65px;
  height: 65px;
  border:none;
}

#grid table button:hover {
  -webkit-box-shadow:  0px 0px 10px 1px rgba(102, 175, 233, .4);
    box-shadow: 0px 0px 10px 1px rgba(102, 175, 233, .4);
}

#grid table tr:nth-child(1) td:nth-child(2) button { background-position: 0 0; }
#grid table tr:nth-child(1) td:nth-child(3) button { background-position: -65px 0; }
#grid table tr:nth-child(1) td:nth-child(4) button { background-position: -130px 0; }

#grid table tr:nth-child(2) td:nth-child(2) button { background-position: 0 -65px; }
#grid table tr:nth-child(2) td:nth-child(3) button { background-position: -65px -65px; }
#grid table tr:nth-child(2) td:nth-child(4) button { background-position: -130px -65px; }

#grid table tr:nth-child(3) td:nth-child(2) button { background-position: 0 -130px; }
#grid table tr:nth-child(3) td:nth-child(3) button { background-position: -65px -130px; }
#grid table tr:nth-child(3) td:nth-child(4) button { background-position: -130px -130px; }

#expandAll {
  display:none;
}

/**----------------------- TogetherJS -------------------------------**/
#btnChat, #btnAudio,
#btnTogetherJS, #btnSync {
 display:none;
}
.togetherjs-cursor,
.togetherjs-cursor[style] {
  display:none !important;
}